# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log
*.log
*.run_summary
*.csv

# Directories
.metadata/
**/xclbin
**/_x.sw_emu
**/_x.hw_emu
**/_x.hw
.analytics
.Xil/
.run/
.ipcache/
**/_x_temp
**/build_dir
**/_x_temp.hw_emu.xilinx_u50_gen3x16_xdma_201920_3
**/_x_temp.sw_emu.xilinx_u50_gen3x16_xdma_201920_3
**/_x_temp.hw.xilinx_u50_gen3x16_xdma_201920_3
**/build_dir.hw.xilinx_u50_gen3x16_xdma_201920_3
**/build_dir.hw_emu.xilinx_u50_gen3x16_xdma_201920_3
